<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fornecedores- Thecontroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./../recuros/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="../../recuros/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../recuros/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../recuros/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../recuros/assets/css/metisMenu.css">
    <link rel="stylesheet" href="../../recuros/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../recuros/assets/css/slicknav.min.css">
    <link rel="stylesheet" href="../../recuros/header/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- amcharts css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../../recuros/assets/css/typography.css">
    <link rel="stylesheet" href="../../recuros/assets/css/default-css.css">
    <link rel="stylesheet" href="../../recuros/assets/css/styles.css">
    <link rel="stylesheet" href="../../recuros/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="../../recuros/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">



        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="../../recuros/assets/images/logo.png" alt="logo">
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="#" aria-expanded="true">
                                    <i class="fa fa-tachometer-alt"></i><span>Painel</span>
                                </a>

                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-address-book"></i><span>Cadastro</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="../projetos/index.html"><i class="fa fa-file-alt mr-2"></i>Projetos</a>
                                    </li>
                                    <li><a href="../plano_de_planos/planos-de-contas.html"><i
                                                class="fa fa-university mr-2"></i>Plano
                                            de
                                            Contas</a></li>
                                    <li><a href="../clinetes/index.html"><i class="fa fa-users mr-2"></i>Clientes</a>
                                    </li>
                                    <li><a href="index.html"><i
                                                class="fa fa-truck mr-2"></i>Fornecedores</a>
                                    </li>
                                    <li><a href="../meus_bancos/index.html"><i class="fa fa-university mr-2"></i>Contas
                                            Bancárias</a></li>
                                    <li><a href="../meio_de_pagamento/index.html"><i
                                                class="fa fa-credit-card mr-2"></i>Meios de Pagamento</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-file-invoice-dollar"></i><span>Lançamentos</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="../contas_a_receber/index.html"><i
                                                class="fa fa-arrow-circle-down mr-2"></i>Contas
                                            a Receber</a></li>
                                    <li><a href="../conta_a_pagar/index.html"><i class="fa fa-arrow-circle-up mr-2"></i>
                                            Contas a Pagar</a></li>

                                    <li><a href="../transferencias/index.html"><i
                                                class="fa fa-random mr-2"></i>Transferências</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-file-alt"></i>
                                    <span>Relatórios</span>
                                </a>
                                <ul class="collapse">
                                    <li class="active"><a href="../fluxo_de_caixa_mensal/index.html"><i
                                                class="fa fa-money-bill-wave mr-2"></i>Fluxo de Caixa Mensal</a></li>
                                    <li class="active"><a href="../comparador/index.html"><i
                                                class="fa fa-wallet mr-2"></i>
                                            Comparador</a></li>
                                    <li class="active">
                                        <a href="../dre/index.html">
                                            <i class="fa fa-coins mr-2"></i>DRR
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="../planejamento/index.html">
                                            <i class="fa fa-calendar-alt mr-2"></i>Planejamento
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--  <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-exchange-alt mr-1"></i>
                                    <span>Conciliação Bancária</span>
                                </a>
                            </li> -->
                            <!--   <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="fa fa-chart-line mr-1"></i>
                                    <span>Planejamento Financeiro</span>
                                </a>
                            </li> -->
                            <li>
                                <a href="../perfil/index.html" aria-expanded="true">
                                    <i class="fa fa-users"></i><span>Perfil</span>
                                </a>

                            </li>




                        </ul>
                    </nav>
                </div>
            </div>
        </div>




        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li class="">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle d-flex align-items-center gap-2" type="button"
                                        data-toggle="dropdown">
                                        <div class="avatar-circle">
                                            <span class="initials" id="userInitials"></span>
                                        </div>
                                        <span class="username text-lowercase" id="usernamesistem"></span>
                                        <span class="system-time" id="systemTime"></span>
                                        <i class="fas fa-chevron-down ms-2"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user-circle me-2"></i> Perfil
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="#" id="logoutButton">
                                            <i class="fas fa-sign-out-alt me-2"></i> Terminar Sessão
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left text-uppercase">Fornecedores</h4>

                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class=" pull-right mt-4">

                            <button class="btn btn-secondary mb-3" type="button" data-toggle="modal"
                                data-target=".bd-example-modal-lg"><i class="fa fa-user-plus mr-md-2"></i>Novo
                                Fornecedore</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="data-tables table-responsive">
                                    <table id="dataTable3" class="text-center dataTable no-footer dtr-inline collapsed">
                                        <thead class="text-capitalize bg-light">
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nome do Fornecedore</th>
                                                <th>Endereço</th>
                                                <th>Cidade</th>
                                                <th>UF</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                <th>Nome do Contato</th>
                                                <th>Tipo de Fornecedore</th>
                                                <th>CNPJ/CPF</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dark table end -->
                </div>
            </div>
        </div>
        <!-- large modal start -->
        <div class="modal fade bd-example-modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title text-uppercase">Cadastro de Fornecedor</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <form id="fornecedores" class="modal-body col-12">
                        <div class="form-group">
                            <h6>Nome do Cliente</h6>
                            <input type="text" class="form-control" id="nome" placeholder="Nome do Cliente" required>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <h6>Endereço</h6>
                                <input type="text" class="form-control" id="endereco" placeholder="Endereço">
                            </div>
                            <div class="col-md-6">
                                <h6>Cidade</h6>
                                <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>UF</h6>
                            <input type="text" class="form-control" id="uf" placeholder="UF" maxlength="2">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>código</h6>
                                        <select id="country-code" class="form-control"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Telefone</h6>
                                        <input type="tel" class="form-control" id="telefone1" placeholder="Telefone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6>Email</h6>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <h6>Nome do Contato</h6>
                                <input type="text" class="form-control" id="nome_contato" placeholder="Nome do Contato">
                            </div>
                            <div class="col-md-6">
                                <h6>Tipo de Fornecedor</h6>
                                <select class="form-control" id="tipo_pessoa" required>
                                    <option value="" disabled selected>Selecione um tipo de Cliente</option>
                                    <option value="Jurídica">Pessoa Jurídica</option>
                                    <option value="Física">Pessoa Física</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>CNPJ/CPF</h6>
                            <input type="text" class="form-control" id="cnpj_cpf" placeholder="CNPJ/CPF">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-lightsbtn" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-secondary">Salvar</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div id="clientesModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title text-uppercase">Editar Fornecedor</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <form id="editClientForm" class="modal-body col-12" data-client-id="">
                        <div class="form-group">
                            <h6>Nome do Cliente</h6>
                            <input type="text" class="form-control" id="editNome" name="nome"
                                placeholder="Nome do Cliente" required>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <h6>Endereço</h6>
                                <input type="text" class="form-control" id="editEndereco" name="endereco"
                                    placeholder="Endereço" required>
                            </div>
                            <div class="col-md-6">
                                <h6>Cidade</h6>
                                <input type="text" class="form-control" id="editCidade" name="cidade"
                                    placeholder="Cidade" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>UF</h6>
                            <input type="text" class="form-control" id="editUf" name="uf" placeholder="UF" required
                                maxlength="2">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <h6>Telefone</h6>
                                <input type="tel" class="form-control" id="editTelefone1" name="telefone1"
                                    placeholder="Telefone" required>
                            </div>
                            <div class="col-md-6">
                                <h6>Email</h6>
                                <input type="email" class="form-control" id="editEmail" name="email" placeholder="Email"
                                    required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <h6>Nome do Contato</h6>
                                <input type="text" class="form-control" id="editNomeContato" name="nome_contato"
                                    placeholder="Nome do Contato">
                            </div>
                            <div class="col-md-6">
                                <h6>Tipo de Cliente</h6>
                                <select class="form-control" id="editTipoPessoa" name="tipo_pessoa" required>
                                    <option>Seleciona um tipo de Cliente</option>
                                    <option value="Jurídica">Pessoa Jurídica</option>
                                    <option value="Física">Pessoa Física</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>CNPJ/CPF</h6>
                            <input type="text" class="form-control" id="editCnpjCpf" name="cnpj_cpf"
                                placeholder="CNPJ/CPF" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-lightsbtn" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-secondary">Salvar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <div class="offset-area">
        <div class="offset-close"><i class="ti-close"></i></div>

        <div class="offset-content tab-content">
            <div id="activity" class="tab-pane fade in show active">
                <div class="recent-activity">

                </div>
            </div>
            <div id="settings" class="tab-pane fade">

            </div>
        </div>
    </div>







    <script src="../../recuros/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../../recuros/assets/js/popper.min.js"></script>
    <script src="../../recuros/assets/js/bootstrap.min.js"></script>
    <script src="../../recuros/assets/js/owl.carousel.min.js"></script>
    <script src="../../recuros/assets/js/metisMenu.min.js"></script>
    <script src="../../recuros/assets/js/jquery.slimscroll.min.js"></script>
    <script src="../../recuros/assets/js/jquery.slicknav.min.js"></script>
    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <!-- others plugins -->
    <script src="../../recuros/assets/js/plugins.js"></script>
    <script src="../../recuros/assets/js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../../recuros/api/fornecedores/postFornecedores.js" type="module"></script>
    <script src="../../recuros/api/fornecedores/listaforncedors.js" type="module"></script>
    <script src="../../recuros/api/checkstatus/statussecurity.js"></script>
    <script src="../../recuros/api/custumerdatatable/custudatatable.js"></script>~
    <script src="../../recuros/header/script.js"></script>


</body>

</html>